---
import BaseLayout from "../layouts/BaseLayout.astro"
import Position from "../components/position.astro"
import Footer from "../components/Footer.astro"
import experiences from "../data/experience.json"
---

<BaseLayout title="Shawn Lee">
	<div>
		<h1 class="text-4xl font-bold">Shawn Lee</h1>
		<h2 class="text-2xl font-semibold">Machine Learning Engineer</h2>
		<p>I write code for deep neural networks.</p>
		<a href="/resume.pdf">Resume</a>
	</div>

	<section id="about">
		<h3 class="pt-5 text-lg font-medium">About</h3>
		<p>Hi! I'm Shawn, a final-year Data Science student at Ngee Ann Polytechnic.</p>
		<p>Nowadays, I mostly work on computer vision.</p>
		<p>When I'm not coding, I volunteer.</p>
	</section>
	
	<section id="experience">
		<h3 class="pt-5 text-lg font-medium">Experience</h3>
		<ul>
			{experiences.map((position) => 
				<li>
					<Position
						title={position.title}
						company={position.company}
						startDate={position.startDate}
						endDate={position.endDate}
						description={position.description}
					/>
				</li>
			)}
		</ul>
	</section>
</BaseLayout>
