---
const { title, company, startDate, endDate, description } = Astro.props;
---

<div>
    <span>{title}</span>
    <span>{company}</span>
    <span>{startDate}</span> - <span>{endDate}</span>
</div>
<div>
    <p>{description}</p>
</div>
