---
const { title, company, startDate, endDate, description } = Astro.props;
---

<div class="py-1">
    <h3 class="font-medium">{title}</h3>
    <p>{company}</p>
    <p><span>{startDate}</span> - <span>{endDate}</span></p>
    <p>{description}</p>
</div>
